@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap; 
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-400.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-700.woff2') format('woff2');
  }
  body {
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.167px;
  }
}

@layer components {
  .wrapper-bg {
    @apply bg-[url('./img/bg-light.png')] dark:bg-[url('./img/bg-dark.png')] bg-no-repeat h-44;
    background-position: center top;
    background-size: cover;
  }
  .shadow {
    @apply shadow-[0px_35px_50px_-15px_rgba(194,195,214,0.50)] dark:shadow-[0px_35px_50px_-15px_rgba(0,0,0,0.50)];
  }
  .list_item:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .list_item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  .list_item:not(:last-of-type) {
    border-bottom: 1px solid;
    @apply border-border-grey dark:border-border-blue;
  }
  input:checked + .checkbox {
    background-image: url(../assets/img/checked.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    border: none;
  }
  input:checked ~ .text {
    @apply text-text-grey line-through dark:text-text-cross;
  }
}