@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-display: swap; 
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/josefin-sans-400.woff2') format('woff2'); 
  }
  @font-face {
    font-display: swap;
    font-family: 'Josefin Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/josefin-sans-700.woff2') format('woff2');
  }
  body {
    font-family: 'Josefin Sans';
    font-size: 12px;
    line-height: normal;
    letter-spacing: -0.167px;
  }
}

@layer components {
  .wrapper-bg {
    @apply bg-[url('./img/bg-light.png')] dark:bg-[url('./img/bg-dark.png')] bg-no-repeat h-44;
    background-position: center top;
    background-size: cover;
  }
}